@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1637717862113') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e607";
}

.icon-yonghu1:before {
  content: "\e624";
}

.icon-mima:before {
  content: "\e608";
}

.icon-yonghu2:before {
  content: "\e65e";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-caidan:before {
  content: "\e8ad";
}

.icon-anquan:before {
  content: "\e8ae";
}

.icon-bangzhu:before {
  content: "\e8af";
}

.icon-buganxingqu:before {
  content: "\e8b0";
}

.icon-bofangjilu:before {
  content: "\e8b1";
}

.icon-chuangzuo:before {
  content: "\e8b2";
}

.icon-chenggong:before {
  content: "\e8b3";
}

.icon-ceshi:before {
  content: "\e8b4";
}

.icon-dianzan:before {
  content: "\e8b5";
}

.icon-dingwei:before {
  content: "\e8b6";
}

.icon-ditu:before {
  content: "\e8b7";
}

.icon-gengduo:before {
  content: "\e8b8";
}

.icon-faxian:before {
  content: "\e8b9";
}

.icon-fuzhi:before {
  content: "\e8ba";
}

.icon-fenxiang:before {
  content: "\e8bb";
}

.icon-huatifuhao:before {
  content: "\e8bc";
}

.icon-huiyuan:before {
  content: "\e8bd";
}

.icon-jianshao:before {
  content: "\e8be";
}

.icon-huati:before {
  content: "\e8bf";
}

.icon-guanzhu:before {
  content: "\e8c0";
}

.icon-mima1:before {
  content: "\e8c1";
}

.icon-nan:before {
  content: "\e8c2";
}

.icon-nv:before {
  content: "\e8c3";
}

.icon-paihangbang:before {
  content: "\e8c4";
}

.icon-pengyouquan:before {
  content: "\e8c5";
}

.icon-saoyisao:before {
  content: "\e8c6";
}

.icon-pinglun:before {
  content: "\e8c7";
}

.icon-shandian:before {
  content: "\e8c8";
}

.icon-shanchu:before {
  content: "\e8c9";
}

.icon-shezhi:before {
  content: "\e8ca";
}

.icon-shangchuan:before {
  content: "\e8cb";
}

.icon-shengyinguanbi:before {
  content: "\e8cc";
}

.icon-shijian:before {
  content: "\e8cd";
}

.icon-shengyin:before {
  content: "\e8ce";
}

.icon-shoucang:before {
  content: "\e8cf";
}

.icon-shouye:before {
  content: "\e8d0";
}

.icon-shuaxin:before {
  content: "\e8d1";
}

.icon-sousuo:before {
  content: "\e8d2";
}

.icon-tanhao:before {
  content: "\e8d3";
}

.icon-tishi:before {
  content: "\e8d4";
}

.icon-wodeguanzhu:before {
  content: "\e8d5";
}

.icon-xiaoxi:before {
  content: "\e8d6";
}

.icon-xiaoxizhongxin:before {
  content: "\e8d7";
}

.icon-zengjia:before {
  content: "\e8d8";
}

.icon-WIFI:before {
  content: "\e8d9";
}

.icon-zhibo:before {
  content: "\e8da";
}

